@{
	ViewData["Title"] = "Home Page";
}
@section styles {
	<style spid></style>
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<spid-providers challenge-url="/home/login" size="Medium" circle-image-path="~/spid-ico-circle-bb.png" class="text-left"></spid-providers>
	<div class="text-left"><a href="/home/login?idpname=CINECA"><img src="~/spid-ico-circle-bb.png" alt="Login Cineca" style="width: 50px;"/>Shibboleth Cineca</a></div>
</div>

@section scripts {
	<script spid></script>
}